<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <h1>Password</h1>
</head>

<style>
    h1{
        margin:200px;
        text-align: center;
    }
    .heading{
        margin: 200px;
        text-align: center;
        background-color: #000000;
        color: greenyellow;
        font-size: x-large;
               
}

</style>
<body>
    
    <div class="heading">
        {{password}}
    </div>
</body>
</html>